@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width:1290px) and (max-width:1400px) {}

@media (max-width:1290px) {
    .container {
        width: 1140px;
    }

    .header__toggle {
        display: block;
    }

    .gx-topic {
        width: 300px;
        height: 100vh;
        position: fixed;
        left: -300px;
        top: 12px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 43;
    }

    .gx-open-topic {
        left: 0 !important;
    }

    .gx-topic .topic-sidebar {
        height: calc(100vh - 24px);
        overflow: auto;
        top: 12px;
    }
}

@media (min-width:992px) and (max-width:1140px) {
    .container {
        width: 960px;
    }

}

@media (max-width:992px) {
    .container {
        width: 960px;
    }

    .max-data li {
        color: #FFF !important;
    }
}

@media (min-width:768px) and (max-width:960px) {
    .container {
        width: 720px;
    }

    .form-doct input {
        min-width: 250px;
    }


}

@media (max-width:768px) {
    .container {
        width: 100%;
    }

    .form-doct {
        display: none;
    }

    .button-buy {
        display: none;
    }

    .toggle-menu-doct {
        order: 2;
    }

    .main-heading {
        font-size: 22px;
    }

    .popins-data-helpex {
        margin-bottom: 10px;
    }

    .hx-image img {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width:576px) and (max-width:720px) {
    .container {
        width: 100%;
    }

}

@media (max-width:577px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

@media (min-width:380px) and (max-width:540px) {
    .container {
        width: 100%;
    }

}

@media (max-width:380px) {
    .container {
        width: 100%;
    }
}

@media (min-width:280px) and (max-width:320px) {
    .container {
        width: 100%;
    }
}